- set_meta_tags :title => 'Edit a rails best practice question', :noindex => true

%h2 Edit a Rails Best Practice Question

= semantic_form_for @question do |form|
  = render 'form', :f => form
  = form.buttons do
    = form.submit "Save"
    = link_to 'Back', question_path(@question)
