- set_meta_tags :title => "Ask for rails best practice", :noindex => true

%h2 Ask for Rails Best Practice

= semantic_form_for @question do |form|
  = render 'form', :f => form
  = form.buttons do
    = form.submit "Post"
    = link_to 'Back', questions_path
