.comment_form
  %p= link_to 'not clear? leave a comment', '#', :class => 'leave-comment'
  = semantic_form_for [parent, parent.comments.build], :html => {:class => 'hide'} do |form|
    = form.inputs do
      - if current_user
        = form.input :user_id, :as => :hidden, :value => current_user.id
      - else
        = form.input :username, :hint => "Note: you can log in without input username."
      = form.input :body, :label => 'Content', :input_html => { :class => 'wmd-ignore', :rows => 2 }
    = form.buttons do
      = form.submit "Comment"