- set_meta_tags :title => 'recent comments', :noindex => true

%h2 Recent Comments

.comments
  - @comments.each do |comment|
    .comment
      .info
        = comment_avatar(comment)
        %p
          Comments on 
          = link_to comment.parent_name, comment_parent_link(comment)
        %p
          Posted by 
          = comment_user_link(comment)
          on 
          = I18n.localize(comment.created_at)
      .content
        .point-to-icon
        .wikistyle= raw white_list(comment.body.gsub("\n", "<br/>"), :tags => %w(a b blockquote pre code em i strong), :attributes => %w(title href))

= will_paginate @comments
