- set_meta_tags :title => 'Edit Profile', :noindex => true

%h2 Edit Your User Information

= semantic_form_for @user do |form|
  = form.inputs :name => 'Profile' do
    = form.input :login, :label => "Username"
    = form.input :email, :hint => "This is used to show your avatar from gravatar.com."
    = form.input :url, :label => "Your URL", :hint => "Note that this URL is linked from your username in various places around the site."
  = form.buttons do
    = form.submit "Save"
    
- unless @user.access_token
  = semantic_form_for @user do |form|
    = form.inputs :name => 'Change Password' do
      = form.input :password
      = form.input :password_confirmation
    = form.buttons do
      = form.submit "Change"
