- set_meta_tags :title => 'leaders'

%h2 Leaders
%table.users
  %tr
    %th #
    %th User
    %th Posts
    %th Answers
    %th Questions
    %th Votes
    %th Comments
    %th Score
  - @users.each_with_index do |user, index|
    %tr
      %td.index= index
      %td.login= link_to user.login, user_path(user)
      %td.posts= user.posts_count
      %td.questions= user.questions_count
      %td.answers= user.answers_count
      %td.votes= user.votes_count
      %td.comments= user.comments_count
      %td.score= user.posts_count * 10 + user.answers_count * 8 + user.questions_count * 4 + user.comments_count * 2 + user.votes_count

.rank-hint
  %p lower scoring users not shown
  %p score = posts * 10 + answers * 8 + questions * 4  + comments * 2 + votes.

