- set_meta_tags :title => @user.login, :noindex => true

%h2= @user.login

.user
  - if @user == current_user
    .command
      = link_to 'Edit', edit_user_path(@user)
  .avatar= image_tag @user.gravatar_url(:size => 64, :default => 'mm'), :class => 'user-avatar', :alt => @user.login
  .info
    %p
      %span Username
      = @user.login
    %p
      %span Website
      = @user.url

.statistics
  .header
    %ul.navs
      = nav_class('posts') do
        = link_to "#{@user.posts_count} Rails Best Practices", user_path(@user, :nav => 'posts')
      = nav_class('questions') do
        = link_to "#{@user.questions_count} Requests", user_path(@user, :nav => 'questions')
      = nav_class('answers') do
        = link_to "#{@user.answers_count} Answers", user_path(@user, :nav => 'answers')
      = nav_class('comments') do
        = link_to "#{@user.comments_count} Comments", user_path(@user, :nav => 'comments')
      = nav_class('votes') do
        = link_to "#{@user.votes_count} Votes", user_path(@user, :nav => 'votes')
  - case params[:nav]
  - when 'posts'
    = render 'posts/posts', :posts => @children.includes(:user, :tags), :description => false
  - when 'questions'
    = render 'questions/questions', :questions => @children.includes(:user, :tags)
  - when 'answers'
    = render 'users/answers', :answers => @children.includes(:question => [:user, :tags])
  - when 'comments'
    = render 'users/comments', :comments => @children.includes(:commentable => :user)
  - when 'votes'
    = render 'users/votes', :votes => @children.includes(:voteable => :user)
