= semantic_form_for user_session, :url => user_session_path do |form|
  - if return_to
    = hidden_field_tag :return_to, return_to
  = oauth_login_hidden_input
  = form.inputs do
    = form.input :login, :label => "Username"
    = form.input :password
    = form.input :remember_me, :as => :boolean
  = form.buttons do
    = form.submit "Login"
