%h3 Navigator
%ul
  %li= link_to 'Recent Best Practices', posts_path
  %li
    = link_to 'Hot Best Practices', posts_path(:hot => true)
    .hot
      .hot-icon
  %li= link_to 'Implemented Best Practices', posts_path(:implemented => true)
  %li
    = link_to 'Recent Comments', comments_path(:post => true)
    .new
      .new-icon
  %li= link_to 'All Best Practices', archive_posts_path
