- if current_user
  = semantic_form_for [question, answer] do |form|
    = form.inputs :name => "Your Answer" do
      = form.input :user_id, :as => :hidden, :value => current_user.id
      = form.input :body, :label => false
      .wmd-preview.wikistyle
    = form.buttons do
      = form.submit "Post Your Answer"

  :javascript
    wmd_options = {"output": "Markdown"};

- else
  = link_to "Please login before answering the question!", new_user_session_path, :class => 'answer-login-link'