.share-section
  = link_to 'Submit', new_post_path
  %p Share a Rails Best Practice!
.posts-section
  %ul
    %li= link_to 'Recent Best Practices', posts_path
    %li= link_to 'Hot Best Practices', posts_path(:hot => true)
    %li= link_to 'All Best Practices', archive_posts_path
.tag-section
  %h3 Tags
  %ul
    - ActsAsTaggableOn::Tag.order("name").each do |tag|
      %li= link_to tag.name, tag_posts_path(tag.name)
