- set_meta_tags :title => 'rails best practices list', :noindex => true

%h2 Rails Best Practices
%table.posts
  - @posts.each do |post|
    %tr
      %td.stat
        %p= "#{post.vote_points} votes"
        %p= "#{post.view_count} views"
      %td.content
        %p.title= link_to post.title, post_path(post)
        %p.description= post.description
        %p= link_to (post.comments.size == 0 ? "post a comment" : "#{post.comments.size} comments"), post_path(post, :anchor => 'comments')
      %td.author
        by
        = user_link(post.user)
      %td.avatar= image_tag post.user.gravatar_url(:size => 32), :class => 'user-avatar', :alt => post.user.login

= will_paginate @posts, :previous_label => "<< Previous", :next_label => "Next >>"
