- title @post.title

.command
  - if @post.belongs_to? current_user
    = link_to 'Edit', edit_post_path(@post)
  - if current_user and current_user.developer?
    &nbsp;|&nbsp;
    - if @post.implementation
      = link_to 'Edit Implementation', edit_post_implementation_path(@post)
    - else
      = link_to 'New Implement', new_post_implementation_path(@post)

%h2= @post.title

.post
  .vote-info
    = vote_like_link(@post)
    %p= @post.vote_points
    = vote_dislike_link(@post)
  = render 'shared/addthis'
  %p
    = image_tag @post.user.gravatar_url(:size => 32), :class => 'user-avatar', :alt => @post.user.login
    Posted by 
    = user_link(@post.user)
    on 
    = @post.created_at.to_date.strftime("%B %d, %Y")
  .description
    .point-to-icon
    %p= @post.description
  .wikistyle= raw @post.formatted_html
  - if @post.implemented?
    = link_to 'implemented in rails_best_practices gem', post_implementation_path(@post), :class => 'implemented'
  .tags
    %strong tags: 
    - @post.tags.each do |tag|
      = link_to tag.name, tag_posts_path(tag.name)

  = render 'comments/comments', :parent => @post
  = render 'comments/comment_form', {:parent => @post, :comment => @comment}

- content_for :js do
  = javascript_include_tag "http://s7.addthis.com/js/250/addthis_widget.js#username=flyerhzm"
