!!!
%html
  %head
    = stylesheet_link_tag 'compiled/screen', 'compiled/layout', 'compiled/sidebar', 'compiled/post', 'compiled/question', 'compiled/implementation', 'compiled/comment', 'compiled/user', 'compiled/addthis', 'compiled/jquery.autocomplete', 'compiled/formtastic', 'compiled/formtastic_changes', 'compiled/css_sprite', 'prettify', 'compiled/page', :cache => true, :media => 'screen, projection'
    /[if IE]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    = display_meta_tags :site => 'Rails Best Practices', :description => "rails, ruby on rails, best practices, tips, tricks"
    = auto_discovery_link_tag(:rss, "http://feeds.feedburner.com/rails-bestpractices")
    = csrf_meta_tag
  %body
    #header
      .container
        .logo
          %h1 Rails Best Practices
          %p.first Follow The Rails Best Practices Here
          %p.second Share Your Rails Best Practices Here
        .nav
          %ul
            %li= link_to "Home", root_path
            - if !current_user
              %li= link_to "Register", new_user_path
              %li= link_to "Login", new_user_session_path
            - else
              %li= link_to 'Submit', new_post_path
              %li= link_to current_user.login, edit_user_path(current_user)
              %li= link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you want to logout?"
            %li
              = link_to "Leaders", users_path
              .new
                .new-icon
            %li.last= link_to "About", page_path(:name => 'about-us')
        .share
          = link_to 'SUBSCRIBE TO OUR RSS FEED', "http://feeds.feedburner.com/rails-bestpractices", :class => 'rss-icon'
          = link_to 'FOLLOW US ON TWITTER', "http://twitter.com/railsbp", :class => 'twitter-icon'
      .main-nav
        .container
          = link_to 'Home', root_path, :class => 'home-icon'
          %ul
            %li= link_to 'Rails Best Practices', posts_path
            %li= link_to 'rails_best_practices gem', implementations_path
            %li= link_to 'Requests', questions_path
          = form_tag posts_path, :method => :get do
            .search-label
            = text_field_tag 'search', '', :class => 'search-text'
            = submit_tag 'Search', :class => 'search-icon'

    #container
      .container
        #content
          - unless flash.blank?
            #flash
              - flash.each do |type, message|
                .message{:class => type}= message
          = yield
        #sidebar
          / = render 'shared/pledgie'
          - unless current_user
            = button_to "Sign in with Twitter", { :controller => 'user_sessions', :action => 'create', :oauth_provider => 'twitter', :authentication_type => 'session' }, :class => 'sign-in-twitter-button'
            = button_to "Login with Facebook", { :controller => 'user_sessions', :action => 'create', :oauth_provider => 'facebook', :authentication_type => 'session' }, :class => 'sign-in-facebook-button'
          = render 'sidebar'
          .static-section
            = render_sidebar_content

    #footer
      .container
        .share
          = link_to 'FOLLOW US ON TWITTER', "http://twitter.com/railsbp", :class => 'twitter-icon'
          = link_to 'SUBSCRIBE TO OUR RSS FEED', "http://feeds.feedburner.com/rails-bestpractices", :class => 'rss-icon'
        %ul
          %li= link_to 'Help', page_path('help')
          %li= link_to 'Contact Us', page_path('contact-us')
          %li= link_to 'About Us', page_path('about-us')
        .copyright &copy; 2010 rails-bestpractices.com
      
    = javascript_include_tag 'jquery', 'rails', 'jquery.autocomplete', 'prettify', 'wmd', 'showdown', 'wmd-base', 'wmd-plus', :cache => true
    = yield :js
    :javascript
      function recover() {
        var $preview_elem = $('.wmd-preview pre code');
        $preview_elem.text($preview_elem.text().replace(/&#95;/g, '_'));
      }
      $(function() {
        // tag list auto complete
        if (typeof tags != 'undefined') {
          $('#post_tag_list, #question_tag_list, #answer_tag_list').autocomplete(tags, {
        		multiple: true,
        		matchContains: true,
        		autoFill: true
        	});
        }
        // remove the beginning spaces in <pre><code> </code></pre>
        $.each($('pre code'), function(i, element) {
          var output = [];
          $.each($(element).text().split('\n'), function(i, line) {
            output.push(line.replace(/^ {12}/, ''));
          });
          $(element).text(output.join('\n'));
        });
        // pretty print the wikistyle pre code
        $('div.post pre, div.implementation pre').addClass('prettyprint');
        prettyPrint();
      });
    - if Rails.env == 'production'
      = render 'shared/google_analytics'
